@import "_colors";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import "_fonts";
@import "_buttons";

body {
    padding-top: 56px;
}

.category {
    padding: .5rem .75rem;
    font-size: .625rem;
    line-height: normal;
    border-radius: 999px;
    padding: .25rem .5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.module_container {
    border-left-width: 10px !important;
}

#accreditations_format {
    font-family: "Arial Narrow", Arial, sans-serif; 
} 

#accreditations_format p, 
#accreditations_format ul, 
#accreditations_format h3 
{
    margin: 0;
}

#accreditations_format td, #accreditations_format th {
    padding: 5px;
    vertical-align: middle;
}

#accreditations_format #LO td {
    padding: 0px 5px;
}

#accreditations_format #AM td {
    padding: 0px 5px;
    font-size: 8pt;
}

#accreditations_format table.session_list th {
    padding: 10px 5px;
}

#accreditations_format table, #accreditations_format th, #accreditations_format td {
    border: 1px solid black;
}