{% extends 'base.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
<h1>Create new Module</h1>

{{ include('module/_form.html.twig') }}

<a href="{{ path('module_index') }}" class="btn btn_material">
    <i class="fas fa-chevron-left mr-2"></i>
    <span>back to module list</span>
</a>
{% endblock %}